# Descriptive Statistics review

## Sampling techniques
- To avoid bias in a study

## Numerical Measures

### Measures of Central Tendency
- Mean
- Median
- Mode

### Measures of Dispersion
- Interquartile range
- Variance
- Standard deviation

## Skewness

## Noraml distribution

In [ ]:
# Importing libraries
import numpy as np
import pandas as pd

In [ ]:
penguin_raw = pd.read_csv('penguins_lter_manipulated.csv') # reading dataset
penguin = penguin_raw.copy() # creating a new copy

In [ ]:
# Dropping few columns
penguin = penguin.drop(['studyName', 'Sample Number', 'Stage', 'Region', 'Date Egg', 'Individual ID', 'Delta 15 N (o/oo)', 'Delta 13 C (o/oo)', 'Comments'], axis = 1)

In [ ]:
penguin.describe(include = 'all')

,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex
count,344,344,344,288.000000,235.000000,337.000000,344,334
unique,3,3,2,NaN,NaN,NaN,96,3
top,Adelie Penguin (Pygoscelis adeliae),Biscoe,Yes,NaN,NaN,NaN,3800,MALE
freq,152,168,308,NaN,NaN,NaN,11,168
mean,NaN,NaN,NaN,44.429514,17.195745,200.925816,NaN,NaN
std,NaN,NaN,NaN,5.262364,2.003539,14.069888,NaN,NaN
min,NaN,NaN,NaN,32.100000,13.200000,172.000000,NaN,NaN
25%,NaN,NaN,NaN,40.200000,15.550000,190.000000,NaN,NaN
50%,NaN,NaN,NaN,45.300000,17.500000,197.000000,NaN,NaN
75%,NaN,NaN,NaN,49.000000,18.800000,213.000000,NaN,NaN
max,NaN,NaN,NaN,58.000000,21.500000,231.000000,NaN,NaN

In [ ]:
penguin.skew() # to examine skewness

C:\Users\sandy\AppData\Local\Temp/ipykernel_14548/4205592437.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  penguin.skew() # to examine skewness

Culmen Length (mm)    -0.157126
Culmen Depth (mm)     -0.134342
Flipper Length (mm)    0.341849
dtype: float64

In [ ]:
penguin.mean()

C:\Users\sandy\AppData\Local\Temp/ipykernel_14548/348940119.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  penguin.mean()

Culmen Length (mm)      44.429514
Culmen Depth (mm)       17.195745
Flipper Length (mm)    200.925816
dtype: float64

In [ ]:
penguin.median()

C:\Users\sandy\AppData\Local\Temp/ipykernel_14548/3660690124.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  penguin.median()

Culmen Length (mm)      45.3
Culmen Depth (mm)       17.5
Flipper Length (mm)    197.0
dtype: float64

In [ ]:
penguin.mode()

,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex
0,Adelie Penguin (Pygoscelis adeliae),Biscoe,Yes,41.1,19.0,190.0,0,MALE
1,NaN,NaN,NaN,NaN,NaN,NaN,3700,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,3800,NaN

In [ ]:
penguin.var()

C:\Users\sandy\AppData\Local\Temp/ipykernel_14548/3090176597.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  penguin.var()

Culmen Length (mm)      27.692471
Culmen Depth (mm)        4.014170
Flipper Length (mm)    197.961742
dtype: float64

In [ ]:
penguin.std()

C:\Users\sandy\AppData\Local\Temp/ipykernel_14548/4182437139.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  penguin.std()

Culmen Length (mm)      5.262364
Culmen Depth (mm)       2.003539
Flipper Length (mm)    14.069888
dtype: float64

In [ ]:
penguin.rename(columns = {'Clutch Completion':'Clutch_Completion', 'Culmen Length (mm)':'Culmen_Length', 
                         'Culmen Depth (mm)':'Culmen_Depth', 'Flipper Length (mm)':'Flipper_Length', 'Body Mass (g)':'Body_Mass'}, inplace = True)

In [ ]:
from scipy import stats
# Interquartile range (IQR)
IQR = stats.iqr(penguin.Culmen_Depth, interpolation = 'midpoint')
  
print(IQR)

nan