# Discretization

- Data discretization is the process of converting continuous data into discrete buckets by grouping it. Discretization is also known for easy maintainability of the data.
- If data is highly skewed and there is too much noise in the data, discretization may be a good approach to reduce the noise.
- Discretization creates bins, hence reduce the impact of fluctuation (noise) in the data. This process is also known as **smoothing**
- Also known as **binning**.
- When we do descretization, it should make sense.
- Sometimes it is easy to understand continuous data when divided into categories. For example: BMI can be categorized into following groups:
    - **< 19.5 (Underweight)**
    - **Between 19.5 and 25 (normal weight)**
    - **> 25 and < 30 (overweight)**
    - **>= 30 (Obese)**
- Here, discretization helps to understand data easier **if it solves the problem statement**.
- Continuous variable may have complex non-linear relationship

## Approaches to discretization
- Equal width (creating equal number of bins, having same width)
- Equal-frequency (N number of bins having same amount of observations)
- Pre-defined bins (BMI example)
- K-means (creating K clusters) **Will be covered during ML**
- Decision tree (Decision tree to identify optimal number of bins) **Will be covered during ML**

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
Age = [1,5,9,4,7,11,14,17,13,18, 19,31,33,36,42,44,46,70,74,78,77]

In [ ]:
Age = pd.DataFrame(Age)
Age

     0
0    1
1    5
2    9
3    4
4    7
5   11
6   14
7   17
8   13
9   18
10  19
11  31
12  33
13  36
14  42
15  44
16  46
17  70
18  74
19  78
20  77

In [ ]:
pd.cut(Age[0],bins=[0,10,18,60,99],labels=['Child','Adolescent','Adult','Elderly'])

0          Child
1          Child
2          Child
3          Child
4          Child
5     Adolescent
6     Adolescent
7     Adolescent
8     Adolescent
9     Adolescent
10         Adult
11         Adult
12         Adult
13         Adult
14         Adult
15         Adult
16         Adult
17       Elderly
18       Elderly
19       Elderly
20       Elderly
Name: 0, dtype: category
Categories (4, object): ['Child' < 'Adolescent' < 'Adult' < 'Elderly']