# One Hot Encoder

In [23]:
#One_hot_encoder
df={'sex':['M','M','F','F'],'Name':['lokesh','ramesh','Bhagya','sahana']}
import pandas as pd
df1=pd.DataFrame(df)
df1
df2=df1.copy()
df2
from sklearn.preprocessing import OneHotEncoder as OHE
OHE1=OHE()
df2=OHE1.fit_transform(df2)
df_2=pd.DataFrame(df2)
df_2

                              0
0    (0, 1)\t1.0\n  (0, 3)\t1.0
1    (0, 1)\t1.0\n  (0, 4)\t1.0
2    (0, 0)\t1.0\n  (0, 2)\t1.0
3    (0, 0)\t1.0\n  (0, 5)\t1.0

# dummy encoding

In [43]:
import pandas as pd
df={'sex':['M','M','F','F'],'Name':['lokesh','ramesh','Bhagya','sahana']}
df2=pd.DataFrame(df.copy())
df2
df2=pd.get_dummies(df2)

df2

   sex_F  sex_M  Name_Bhagya  Name_lokesh  Name_ramesh  Name_sahana
0      0      1            0            1            0            0
1      0      1            0            0            1            0
2      1      0            1            0            0            0
3      1      0            0            0            0            1

# Binory encoding

In [50]:
import category_encoders as ce
import pandas as pd
df={'sex':['M','M','F','F'],'Name':['lokesh','ramesh','Bhagya','sahana']}
df1=pd.DataFrame(df)
df1
binory=ce.BinaryEncoder()
df1=binory.fit_transform(df1)
df1

   sex_0  sex_1  Name_0  Name_1  Name_2
0      0      1       0       0       1
1      0      1       0       1       0
2      1      0       0       1       1
3      1      0       1       0       0

# ordinal encoder

In [56]:
import pandas as pd
df1=pd.DataFrame({'Name':['Lokesh','Ramesh','Bhagya','sahana'],'Grade':['a','b','c','d']})
df1
lable={'a':1,'b':2,'c':3,'d':4}
df1['Grade']=df1['Grade'].map(lable)
df1

     Name  Grade
0  Lokesh      1
1  Ramesh      2
2  Bhagya      3
3  sahana      4

# Label encoder

In [69]:
from sklearn.preprocessing import LabelEncoder as le
import pandas as pd
df2=pd.DataFrame({'Name':['Lokesh','Ramesh','Bhagya','sahana'],'Grade':['a','b','c','d']})
df2
le1=le()
df2['Grade']=le1.fit_transform(df1['Grade'])
df2

     Name  Grade
0  Lokesh      0
1  Ramesh      1
2  Bhagya      2
3  sahana      3